.about-me-p {
    font-family: Arial, sans-serif; 
    font-style: italic;
    font-weight: bold;
    display: inline-block;
}

.tree-diagram {
    list-style-type: none;
    padding: 0;
  }
  
.tree-diagram li {
    display: inline-block;
}
  
.tree-diagram ul {
    margin-left: 20px;
}